<div class="modal-header">
    <p class="font-weight-light"id="modal-basic-title">Actualizar Persona</p>
    <button type="button" class="close" >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
   <form action="" [formGroup]="formulario" >
     <div class="row">
         <div class="col-12">
          <div class="form-group">
              <label for="">Nombre</label>
              <input type="text"
                class="form-control" formControlName="nombre" name="" id="" aria-describedby="helpId" placeholder="">
            </div>
         </div>
     </div>
     <div class="row">
      <div class="col-6">
       <div class="form-group">
           <label for="">Apellido Paterno</label>
           <input type="text"
             class="form-control" formControlName="apellidoPaterno" name="" id="" aria-describedby="helpId" placeholder="">
         </div>
      </div>
      <div class="col-6">
        <div class="form-group">
            <label for="">Apellido Materno</label>
            <input type="text"
              class="form-control" formControlName="apellidoMaterno" name="" id="" aria-describedby="helpId" placeholder="">
          </div>
       </div>
  </div>
     <div class="row">
      <div class="col-12">
       <div class="form-group">
           <label for="">Rut</label>
           <input type="text"
             class="form-control" formControlName="rut"name="" id="" aria-describedby="helpId" placeholder="">
         </div>
      </div>
     </div>
      <div class="row">
          <div class="col-12">
           <div class="form-group">
               <label for="">FechaNacimiento</label>
               <input type="date"
                 class="form-control" formControlName="fechaNacimiento"name="" id="" aria-describedby="helpId" placeholder="">
             </div>
          </div>
          
      </div>
      <div class="row">
          <div class="col-12">
           <div class="form-group">
               <label for="">Fono</label>
               <input type="number"
                 class="form-control"formControlName="fono" name="" id="" aria-describedby="helpId" placeholder="">
             </div>
          </div>
          
      </div>
      <div class="row">
          <div class="col-12">
           <div class="form-group">
               <label for="">Email</label>
               <input type="text"
                 class="form-control"formControlName="email" name="" id="" aria-describedby="helpId" placeholder="">
             </div>
          </div>
          
      </div>
    </form>
  </div>
  

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="cerrarModal()">Cancelar</button>
    <button type="button" class="btn btn-outline-primary" (click)="modificar()">Actualizar</button>

    
  </div>