<nb-card>
    <nb-card-header>

        <div class="d-flex justify-content-between">
            <div class="p-2 bd-highlight">
                <p class="font-weight-light" >Listado de Vacunas</p>
            </div>
            <div class="p-2 bd-highlight">
               
                <button type="button" class="btn btn-success"
                    (click)="open(agregarVacuna)">RegistrarVacuna</button></div>
        </div>

    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-12" >
                <table class="table table-striped table-hover">
                    <thead class="thead-inverse ">
                        <tr>
                            <th>Nombre <span class="badge badge-pill badge-primary">{{contador}}</span> </th>
                            <th>Tipo</th>
                            <th>Dosis</th>
                            <th>PeriodoEnDias</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr *ngFor="let vacuna of vacunas">
                            <td>{{vacuna.nombre}}</td>
                            <td>
                                <span class="badge badge-primary"> {{vacuna.tipo}}</span>
                            </td>
                            <td> <i class="fas fa-syringe text-primary" ></i> {{vacuna.dosis}}</td>
                            <td><i class="fa fa-calendar text-primary" aria-hidden="true" ></i> {{vacuna.periodoEnDias}}</td>
                            <td>
                                <button type="button" class="btn btn-outline-warning"
                                    
                                    (click)="cargarModificar(vacuna,modificarVacuna)">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button type="button"  class="btn btn-outline-danger"
                                    (click)="validarEliminar(vacuna,eliminarModal)"> <i class="fas fa-trash-alt" tool></i>
                                </button>
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </nb-card-body>
</nb-card>
<ng-template #agregarVacuna let-modal>
    <ngx-agregar></ngx-agregar>
</ng-template>

<ng-template #modificarVacuna let-modal>
    <ngx-modificar [vacuna]="vacunaSeleccionada"></ngx-modificar>
</ng-template>

<ng-template #eliminarModal let-modal>
    <div class="card">
        <div class="card-header">
            <p class="font-weight-light" >Eliminar Vacuna</p>
        </div>
        <div class="card-body">
            <p class="card-text">Esta seguro que desea eliminar la vacuna :</p>
            <p class="text-danger">{{vacunaSeleccionada.nombre}}</p>
            <div class="d-flex flex-row-reverse bd-highlight">
                <div class="p-2 bd-highlight"><button type="button" class="btn btn-primary" (click)=" cerrarModal()">Cancelar</button></div>
                <div class="p-2 bd-highlight"><button type="button" class="btn btn-danger" (click)="eliminar()">Aceptar</button></div>
            </div>
        </div>
    </div>

</ng-template>