<nb-card>
    <nb-card-header>
        <div class="d-flex justify-content-between">
            <div class="p-2 bd-highlight">
                <p class="font-weight-light">Personas</p>
            </div>
            <div class="p-2 bd-highlight"><button type="button" class="btn btn-success"
                    (click)="open(agregarPersonas)">RegistrarPersona</button></div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row">

            <div class="col-12">
                <table class="table table-striped table-hover">
                    <thead class="thead-inverse ">
                        <tr>
                            <th>Nombre  <span class="badge badge-pill badge-primary">{{contador}}</span> </th>
                            <th>Rut</th>
                            <th>FechaNacimiento</th>
                            <th>Fono</th>
                            <th>Email</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let persona of personas">
                            <td>{{persona.nombre}} {{persona.apellidoPaterno}} {{persona.apellidoMaterno}}</td>
                            <td>{{persona.rut}}</td>
                            <td>{{persona.fechaNacimiento}}</td>
                            <td>{{persona.fono}}</td>
                            <td>{{persona.email}}</td>
                            <td>
                                <button type="button" class="btn btn-outline-warning" (click)="cargarModificar(persona,modificarPersona)">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button type="button" class="btn btn-outline-danger" (click)="validarEliminar(persona,eliminarModal)"> <i
                                        class="fas fa-trash-alt" ></i>
                                </button>
                            </td>
                        </tr>
                       

                    </tbody>
                </table>
            </div>
        </div>
    </nb-card-body>
</nb-card>


<ng-template #agregarPersonas let-modal>
    <ngx-agregar></ngx-agregar>
  </ng-template>
  
<ng-template #eliminarModal let-modal>
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Eliminar Persona </h4>
        </div>
        <div class="card-body">
            <p class="card-text">Esta seguro que desea eliminar a :</p>
            <p class="text-danger">{{personaEnEdicion.nombre}}</p>
            <div class="d-flex flex-row-reverse bd-highlight">
                <div class="p-2 bd-highlight"><button type="button" class="btn btn-primary" (click)=" cerrarModal()">Cancelar</button></div>
                <div class="p-2 bd-highlight"><button type="button" class="btn btn-danger" (click)="eliminar()">Aceptar</button></div>
            </div>
        </div>
    </div>

</ng-template>

<ng-template #modificarPersona let-modal>
    <ngx-modificar ></ngx-modificar>
</ng-template>


<ng-template #modificarPersona let-modal>
    <ngx-modificar [curso]="cursoSeleccionado"></ngx-modificar>
</ng-template>
