/* personal-salud*/
td>button[type="button"].btn-outline-warning {
    margin-right:   5px;
    width:          50px;
}
td>button[type="button"].btn-outline-danger {
    width:          50px;
}

nb-card-header>div>div>p.font-weight-light {
    font-size: 120%;
}

div.modal-header>p.font-weight-light{
    font-size: 120%;
}

div.modal-footer>button.btn-outline-primary {
    margin-right: 5px;
}

/* fin estilo personal-salud*/

/* estilo grilla listar vacunas, separacion entre icono cal y candtidad*/
td>i.text-primary {
    margin-right: 5px;
}

/* estilo encabezado vacunas listar*/
nb-card-body>div.row>div.col-12{
    max-height: 400px;
    overflow-y: scroll;
}

/* las barras referenciadas fueron eliminadas, estos estilos ya no tienen uso
nb-actions>nb-action.user-action .ng-star-inserted {
    display: none;
}

nb-actions>nb-action.control-item[icon$="-outline"][ng-reflect-icon$="-outline"] {
    display: none;
}

nb-layout-footer {
    display: none;
}
*/