<nb-card>
    <nb-card-header>
        <div class="d-flex justify-content-between">
            <div class="p-2 bd-highlight">
                <p class="font-weight-light" >Personal Salud</p>
            </div>
            <div class="p-2 bd-highlight"><button type="button" class="btn btn-success"
                    (click)="open(agregarPersonal)">RegistrarPersonal</button></div>
        </div>
      
    </nb-card-header>
    <nb-card-body>
        <div class="row">

            <div class="col-12">
                <table class="table table-striped table-hover">
                    <thead class="thead-inverse ">
                        <tr>
                            <th>Nombre <span class="badge badge-pill badge-primary">{{contador}}</span> </th>
                            <th>Rut</th>
                            <th>Especialidad</th>
                            <th>Fono</th>
                            <th>Email</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let personal of personalSalud">
                            <td>{{personal.nombre}}</td>
                            <td>{{personal.rut}}</td>
                            <td> <span class="badge badge-pill badge-primary">  {{personal.especialidad}}</span>
                            </td>
                            <td>  {{personal.fono}}</td>
                            <td>  {{personal.email}}</td>
                            <td>
                                <button type="button" class="btn btn-outline-warning" (click)="cargarModificar(personal,modificarPersonal)">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button type="button"  class="btn btn-outline-danger" (click)="validarEliminar(personal,eliminarModal)"> <i
                                        class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                     
                    </tbody>
                </table>
            </div>
        </div>
    </nb-card-body>
</nb-card>


<ng-template #agregarPersonal let-modal>
    <ngx-agregar></ngx-agregar>
  </ng-template>

  <ng-template #modificarPersonal let-modal>
    <ngx-modificar [personal]="personalEnEdicion"></ngx-modificar>
</ng-template>

<ng-template #eliminarModal let-modal>
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Eliminar Personal</h4>
        </div>
        <div class="card-body">
            <p class="card-text">Esta seguro que desea eliminar al personal:</p>
            <p class="text-danger">{{personalEnEdicion.nombre}} ?</p>
            <div class="d-flex flex-row-reverse bd-highlight">
                <div class="p-2 bd-highlight"><button type="button" class="btn btn-primary" (click)=" cerrarModal()">Cancelar</button></div>
                <div class="p-2 bd-highlight"><button type="button" class="btn btn-danger" (click)="eliminar()">Aceptar</button></div>
            </div>
        </div>
    </div>

</ng-template>