<div class="modal-header">
    <p class="font-weight-light" id="modal-basic-title">Registrar Vacuna</p>
    <button type="button" class="close"  (click)="cerrarModal()" >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form action="" [formGroup]="formulario" >
     <div class="row">
         <div class="col-12">
          <div class="form-group">
              <label for="">Nombre</label> <label class="text-danger">*</label>
              <input type="text"
                class="form-control" name="" formControlName="nombre">
            </div>
           
         </div>

      <div class="col-12">
       <div class="form-group">
           <label for="">Tipo</label><label class="text-danger">*</label>
           <input type="text"
             class="form-control" name="" formControlName="tipo"id="" >
         </div>
      </div>
          <div class="col-12">
           <div class="form-group">
               <label for="">Cantidad de Dosis</label>     <label class="text-danger">*</label>   
               <input class="form-control" 
                formControlName="dosis" type="text" > 
             </div>
          </div>
          <div class="col-12">
            <div class="form-group">
                <label for="">Periodo en Dias</label>    <label class="text-danger">*</label>    
                <input class="form-control"  
                 formControlName="periodoEnDias" type="text"> 
              </div>
           </div>
           <div class="col-12" *ngIf="controlForm">
            <label class="text-danger" >Todos los campos son obligatorios</label>
           </div>
      </div>
    </form>
  </div>
  

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" style="margin-right: 5px;" (click)="cerrarModal()" >Cancelar</button>
    <button type="button" class="btn btn-outline-primary" (click)="guardar()">Registrar</button>
  </div>