<nb-card>
    <nb-card-header>
        <p class="font-weight-light" style="font-size:120%;"></p>
        <div class="d-flex justify-content-between">
            <div class="p-2 bd-highlight">
                <p class="font-weight-light" style="font-size:120%;">Personas Vacunadas</p>
            </div>

            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-light" *ngIf="controlBusqueda"
                    (click)="togleBusqueda()" style="margin-right: 5px;"><i class="fa fa-search" aria-hidden="true" ></i></button>
                    <button type="button" class="btn btn-primary" *ngIf="!controlBusqueda" style="margin-right: 5px;"
                    (click)="togleBusqueda()"><i class="fa fa-search" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-success"
                    (click)="open(agregarPersonaSalud)">Registrar Persona Vacunada</button></div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-12 " *ngIf="controlBusqueda">
                <div class="card">
                <div class="card-body">
                        
                    <div class="row">        
                           
                        <div class="col-3">
                            <div class="form-group">
                              <label for="">Nombre</label>
                              <input type="text"
                                class="form-control" name="" id="" aria-describedby="helpId" placeholder="" (keyup)="buscarPorNombre()" >
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                              <label for="">Rut</label>
                              <input type="text"
                                class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                              <label for="">Desde</label>
                              <input type="date"
                                class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                              <label for="">Hasta</label>
                              <input type="date"
                                class="form-control" name="" id="" aria-describedby="helpId"  placeholder="">
                            </div>
                        </div>
                        <div class="col-2" style="top:30px; position:relative;">
                            <button type="button" class="btn btn-light"
                            (click)="open(agregarPersonaSalud)" style="margin-right: 5px;"  (click)="togleBusqueda()">Cancelar</button>
                            <button type="button" class="btn btn-primary"
                            (click)="open(agregarPersonaSalud)" style="margin-right: 5px;">Filtrar</button>
                        </div>  
             
                     
                    </div>
             
                </div>
               
            </div>
        </div>
            <div class="col-12">
                <table class="table table-striped table-hover">
                    <thead class="thead-inverse ">
                        <tr>
                            <th>Nombre <span class="badge badge-pill badge-primary">{{contador}}</span> </th>
                            <th>Rut</th>
                            <th>Vacuna</th>
                            <th>Prof.Salud</th>
                            <th>Fecha</th>
                            <th>
                                Opciones
                                </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let personaVacunada of personasVacunadas">
                            <td>{{personaVacunada.personaVacunada.nombre}}</td>
                            <td>{{personaVacunada.personaVacunada.rut}}</td>
                             <td>{{personaVacunada.profesionalSalud.nombre}}</td>
                            <td> <i class="fas fa-syringe text-primary" style="margin-right: 5px;"></i>  {{personaVacunada.vacuna.nombre}}</td>
                            <td><i class="fa fa-calendar text-primary" aria-hidden="true" style="margin-right: 5px;"></i> {{personaVacunada.fecha}}</td>
                            
                            <td>
                                <button type="button" class="btn btn-outline-warning"
                                    style="margin-right: 5px; width:50px">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button type="button" style="width:50px;" class="btn btn-outline-danger" (click)="validarEliminar(personaVacunada, eliminarModal)"> 
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>             
                                   
                    </tbody>
                </table>
            </div>
        
        </div>
    </nb-card-body>
</nb-card>
<ng-template #agregarPersonaSalud let-modal>
  <ngx-agregar></ngx-agregar>
  </ng-template>

  
<ng-template #modificarVacuna let-modal>
    <ngx-modificar [vacuna]="vacunaSeleccionada"></ngx-modificar>
</ng-template>

<ng-template #eliminarModal let-modal>
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Eliminar Persona Vacunada</h4>
        </div>
        <div class="card-body">
            <p class="card-text">Esta seguro que desea eliminar el registro de :</p>
            <p class="text-danger">{{personaVacunaEnEdicion.nombre}}</p>
            <div class="d-flex flex-row-reverse bd-highlight">
                <div class="p-2 bd-highlight"><button type="button" class="btn btn-primary" (click)="cerrarModal()">Cancelar</button></div>
                <div class="p-2 bd-highlight"><button type="button" class="btn btn-danger" (click)="eliminar()">Aceptar</button></div>
            </div>
        </div>
    </div>

</ng-template>