<div class="modal-header">
    <p class="font-weight-light" id="modal-basic-title ">Registrar Personal de Salud</p>
    <button type="button" class="close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form action="" [formGroup]="formulario" >
     <div class="row">
         <div class="col-12">
          <div class="form-group">
              <label for="">Nombre</label>
              <input type="text"
                class="form-control" name="" formControlName="nombre" aria-describedby="helpId" placeholder="">
            </div>
         </div>
     </div>
     <div class="row">
        <div class="col-12">
         <div class="form-group">
             <label for="">Rut</label>
             <input type="text"
               class="form-control" name="" formControlName="rut"id="" aria-describedby="helpId" placeholder="">
           </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
         <div class="form-group">
             <label for="">Fono</label>
             <input type="text"
               class="form-control" name="" formControlName="fono"id="" aria-describedby="helpId" placeholder="">
           </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
         <div class="form-group">
             <label for="">Especialidad</label>                           
              <select class="form-control" formControlName="especialidad"name="" id="">
                <option>Opcion1</option>
                <option>Opcion2</option>
              </select>      
           </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
         <div class="form-group">
             <label for="" >Email</label>
             <input type="text" formControlName="email"
               class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
           </div>
        </div>
    </div>
</form>
  </div>
  
  

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="guardar()">Registrar</button>
  </div>