<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()">Vacunacion<span></span></a>
  </div>

</div>

<div class="header-container">
  <nb-actions size="small">

   
  </nb-actions>
</div>
