<div class="modal-header">
    <p class="font-weight-light" style="font-size:120%;" id="modal-basic-title ">Registrar Persona Vacunada</p>
    <button type="button" class="close" aria-label="Close" (click)="cerrarModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form action="" [formGroup]="formulario" >
     <div class="row">
      <div class="col-12">
        <label for="">Rut</label>
        <form class="form-inline" >
          <div class="form-group">         
            <input type="text" name="" id="" formControlName="rut" class="form-control" placeholder="" aria-describedby="helpId">
          <button type="button" class="btn btn-outline-primary" (click)="buscarPorRut()">Buscar</button>
          </div>
        </form>
        <label  class="text-danger" *ngIf="controlBuscarNombre">No existen resultado en la busqueda</label>
       </div>
         <div class="col-12">
          <div class="form-group">
              <label for="">Nombre</label>
              <input type="text"
                class="form-control"  readonly name="" formControlName="nombre"id="" aria-describedby="helpId" placeholder="">
            </div>
         </div>

       
    </div>
    <div class="row">
        <div class="col-12">
         <div class="form-group">
             <label for="">Vacuna</label>      
             <select class="form-control" formControlName="vacuna" name="" id="">
                <option *ngFor="let vacuna of listadoVacunas" [value]="vacuna.id">{{vacuna.nombre}}</option>
              </select>    
           </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
         <div class="form-group">
             <label for="">ProfesionalSalud</label>
             <select class="form-control" formControlName="profesionalSalud"name="" id="">
              <option *ngFor="let profesional of listadoPersonalSalud"  [value]="profesional.id">{{profesional.nombre}}</option>
              </select>    
           </div>
        </div>
    </div>

    <div class="row">
      <div class="col-12">
       <div class="form-group">
           <label for="">Fecha</label>
           <input type="date"
           class="form-control" formControlName="fecha">
         </div>
      </div>
  </div>
    
    </form>
  </div>
  

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="cerrarModal()" style="margin-right: 5px;">Cancelar</button>
    <button type="button" class="btn btn-outline-primary" (click)="guardar()">Registrar</button>
  </div>